/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/tp1.iml
/.idea/vcs.xml
.idea/
client/__pycache__/
server/__pycache__/
common/__pycache__/
